<section id="gallery" class="gallery">
    <h2>My Work</h2>
    <div class="image-grid">
      <img src="images/IMG1.jpg" alt="Mehndi Design 1">
      <img src="images/IMG2.jpg" alt="Mehndi Design 2">
      <!--<img src="images/IMG3.jpg" alt="Mehndi Design 3">-->
      <img src="images/IMG4.jpg" alt="Mehndi Design 4">
      <img src="images/IMG5.jpg" alt="Mehndi Design 5">
      <img src="images/IMG6.jpg" alt="Mehndi Design 6">
      <!--<img src="images/IMG8.jpg" alt="Mehndi Design 7">-->
      <img src="images/IMG9.jpg" alt="Mehndi Design 7">
      <img src="images/IMG10.jpg" alt="Mehndi Design 7">
      <!--<img src="images/IMG11jpg" alt="Mehndi Design 7">-->
      <img src="images/IMG12.jpg" alt="Mehndi Design 8">
      <img src="images/IMG13.jpg" alt="Mehndi Design 9">
      <img src="images/IMG14.jpg" alt="Mehndi Design 7">
      <img src="images/IMG15.jpg" alt="Mehndi Design 10">
      <img src="images/IMG16.jpg" alt="Mehndi Design 11">
      <img src="images/IMG17.jpg" alt="Mehndi Design 12">
      <img src="images/IMG18.jpg" alt="Mehndi Design 13">
      <img src="images/IMG19.jpg" alt="Mehndi Design 14">
      <img src="images/IMG20.jpg" alt="Mehndi Design 15">
      <img src="images/IMG21.jpg" alt="Mehndi Design 15">
    </div>
  </section>